// This file stores SCSS variables

//Colors


//// Semantic Colors
$body: white;
$header-color: rgb(20, 52, 49);
$header-logo-color: white;
$header-logo-color-accent: #ECB45F;
$header-cta-color: #EC645F;

$body-gray: #f7f7f7;


$black: rgba(0, 0, 0, 0.7);
$color-green-cta: rgb(88, 192, 125);


// Sizes
$header-height: 5em;
$nav-item-padding: 1em;

// Amounts
$nav-item-number: 6;