<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset=utf-8">
    <title> BitToll Deposit</title>
    <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
    <script src="/webdeposit/controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body>
    <div ng-controller="CCPaymentCtrl">
        <form class="simple-form">
            Credit Card #
            <input type="text" ng-model="cc_number"></input>
            Expiration Month
            <input type="text" ng-model="cc_em"></input>
            Expiration Year
            <input type="text" ng-model="cc_year"></input>
            Security Code
            <input type="text" ng-model="cc_code"></input>
            <input type="submit" value="Make Payment" ng-click="pay(cc_number, cc_em, cc_year, cc_code"></input>
        </form>
    </div>
</body>
</html>
